@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Курсова робота з баз даних</h1>
    <h3>Шило Михайло ІС-11</h3>
    <p>Створення застосування</p>
</div>
